.app {
  display: flex;
  height: 100vh;
}

.customer-list-container {
  width: 30%;
  border-right: 1px solid #ccc;
  overflow-y: auto;
}

.customer-details-container {
  flex: 1;
  padding: 20px;
}
